<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/sidebar.css">
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link 
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    >
    <script src="../javascript/login.js"></script>
    <title>Trackgenix</title>
  </head>
  <body>
    <header>
      <span class="header-menu">
        <i class="fa-solid fa-bars"></i>
      </span>
      <span class="header-logo">
        <a href="../views/index.html">Trackgenix</a>
      </span>
      <nav class="header-nav">
        <ul>
          <li>
            <a href="#about">About Trackgenix</a>
          </li>
          <li>
            <a href="#functions">Functions</a>
          </li>
          <li>
            <a href="#info">Info</a>
          </li>
          <li>
            <a href="#history">History</a>
          </li>
          <li>
            <a href="#products">Product & Services</a>
          </li>
        </ul>
      </nav>
    </header>
    <aside>
      <span>
        <input class="sidebar-search" type="text" placeholder="Search">
        <i class="sidebar-icon sidebar-icon-search fa-solid fa-magnifying-glass"></i>
      </span>
      <div>
        <p class="sidebar-p">Menu</p>
        <ul>
          <li class="sidebar-li">
            <a class="sidebar-links" href="../views/index.html">
              <i class="sidebar-icon fa-solid fa-house-chimney"></i>
              Home
            </a>
          </li>
          <li class="sidebar-li">
            <a class="sidebar-links" href="../views/sign-up.html">
              <i class="sidebar-icon fa-solid fa-user-plus"></i>
              Sign Up
            </a>
          </li>
          <li class="sidebar-li">
            <a class="sidebar-links" href="#">
              <i class="sidebar-icon fa-solid fa-user"></i>
              Login
            </a>
          </li>
          <li class="sidebar-li">
            <a class="sidebar-links" href="#">
              <i class="sidebar-icon fa-solid fa-comment"></i>
              Contact
            </a>
          </li>
        </ul>
      </div>
      <div class="sidebar-contact">
        <p class="sidebar-p">Get in Touch</p>
        <ul>
          <li class="sidebar-li">
            <a class="sidebar-links" href="mailto:info@gigatech.com">
              <i class="sidebar-icon fa-solid fa-envelope"></i>
              info@gigatech.com
            </a>
          </li>
          <li class="sidebar-li">
            <i class="sidebar-icon fa-solid fa-phone"></i>
            (+000) 000-000000
          </li>
          <li class="sidebar-li">
            <a class="sidebar-links" href="#">
              <i class="sidebar-icon sidebar-icon-map fa-solid fa-map-location-dot"></i>
              1234 Somewhere road, Somewhere, XX 000-0000
            </a>
          </li>
        </ul>
      </div>
    </aside>
    <main>
      <div class="alerts"></div>
      <article>
        <h1>Trackgenix</h1>
        <h2>GigaTech Software Solutions SA</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
          it to make a type specimen book.
        </p>
      </article>
      <div class="form-container">
        <div class="form-header">
          <a class="form-header-links form-header-links-active" href="../views/login.html">Login</a>
          <a class="form-header-links" href="../views/sign-up.html">Sign Up</a>
        </div>
        <form class="form" action="">
          <label class="form-label" >Email
            <input class="email" type="text" name="email" placeholder="name@gigatech.com">
          </label>
          <label class="form-label" >Password
            <input class="password" type="password" name="password" placeholder="********">
          </label>
          <label class="form-check" >
            <input class="remember" type="checkbox" name="remember" value="remember"/>
            Remember me
          </label>
          <a class="form-link" href="#">¿Forgon password or Email?</a>
          <button class="form-button" >Login</button>
          <a class="form-link" href="#">¿You not have account?</a>
          <button class="form-button form-button-secondary">Register</button>
        </form>
      </div>
    </main>
    <footer>
      <div>
        <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
          <img width="32" src="../assets/linkedin.svg" alt="Linkedin icon">
        </a>
        <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
          <img width="32" src="../assets/twitter.svg" alt="Twitter icon">
        </a>
        <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
          <img width="32" src="../assets/facebook.svg" alt="Facebook icon">
        </a>
        <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
          <img width="32" src="../assets/instagram.svg" alt="Instagram icon">
        </a>
        <a href="https://github.com" target="_blank" rel="noopener noreferrer">
          <img width="32" src="../assets/github.svg" alt="Github icon">
        </a>
      </div>
      <p>
        Copyright © 2022 Radium Rocket. All rights reserved.
      </p>
    </footer>
  </body>
</html>